.darkblue {
  filter: invert(13%) sepia(80%) saturate(1371%) hue-rotate(195deg)
    brightness(30%) contrast(80%);
}

.white {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(228deg)
    brightness(102%) contrast(101%);
}

.red {
  filter: invert(49%) sepia(8%) saturate(3176%) hue-rotate(313deg)
    brightness(90%) contrast(100%);
}

.green {
  filter: invert(45%) sepia(15%) saturate(1507%) hue-rotate(28deg)
    brightness(95%) contrast(85%);
}

.yellow {
  filter: invert(76%) sepia(20%) saturate(1261%) hue-rotate(348deg)
    brightness(90%) contrast(89%);
}

.rate {
  filter: invert(88%) sepia(31%) saturate(3490%) hue-rotate(337deg)
    brightness(103%) contrast(105%);
}

.disabled {
  opacity: 0.3;
}
