// color

$app-primary: #041e42;
$app-white: #ffffff;
$app-black: #000000;
$app-grey: #f2f2f2;
$app-star: #ffc120;

$toast-success: #707a30;
$toast-warning: #dba34e;
$toast-error: #c75959;
$toast-background: #f5f7fc;

$tag-available: #707a30;
$tag-reserve: #dba34e;
$tag-waiting-list: #c75959;
$tag-background: #f5f7fc;

$background-primary: #d5dbe0;
$background-secondary: #f9f9f9; // main-container

$font-primary: #041e42;
$font-primary-70: #041e42b3;
$font-primary-50: #041e4280;
$font-primary-30: #041e424d;
$font-white: #ffffff; // navbar-active
$font-white-opacity: #ffffff80; // navbar
