@import '../../../theme/custom.scss';

@media screen and (max-width: 768px) {

  .quote-wrapper{
    max-width: 50vw;
  }

  .big{
    @include typography (40px, 'semibold');
    // text-shadow: none;
  }

  .small {
    @include typography (20px, 'semibold');
    // text-shadow: none;
  }

  .custom-border{
    height:0.25rem;
    background-color: white;
    box-shadow: 2px 4px 0px 0px rgb(14 31 53 / 12%),
    4px 0px 0px 0px rgb(14 31 53 / 6%);
  }

  .nav {
    .nav-wrapper {
      backdrop-filter: blur(3px);
      padding: 0.3rem;
      border-radius: 0.3rem;
    }
  }
  .dot {
    height: 0.75rem;
    width: 0.75rem;
  }
}

@media screen and (min-width: 768px) {

  .big{
    @include typography (80px, 'semibold');
    // text-shadow: none;
  }

  .small {
    @include typography (40px, 'semibold');
    // text-shadow: none;
  }

  .custom-border{
    height:0.5rem;
    background-color: white;
    box-shadow: 2px 4px 0px 0px rgb(14 31 53 / 12%),
    4px 0px 0px 0px rgb(14 31 53 / 6%);
  }

  .nav {
    .nav-wrapper {
      backdrop-filter: blur(3px);
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  }
  .dot {
    height: 1rem;
    width: 1rem;
  }
}

.name   {
  @include typography (60px, 'semibold');
}

.quote-wrapper{
  backdrop-filter: contrast(0.8);
  transform: scaleX(0);
}
.quote{
  opacity: 0;
}



.wrapper {
  position: relative;
  font-family: Lato, sans-serif;
  font-size: 4vw;
  font-weight: bold;
  // padding-left: 15vw;
  overflow: hidden;
}

.wrapper .typing {
  // font-family: 'Source Code Pro', sans-serif;
  // font-weight: normal;
  // padding-left: 1.2vw;
}

.wrapper .hello {
  color: black;
  opacity: 0;
}

.wrapper .hello-abs{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(150px);
}

.wrapper .box {
  position: absolute;
  bottom: 0;
  display: inline-block;
  background: white;
  height: 0.5vw;
  z-index: -1;
}

.textWrapper {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 2px 0px 0px 0px rgb(14 31 53 / 12%),
    4px 0px 0px 0px rgb(14 31 53 / 6%);
  height: fit-content;
  max-height: calc(100% - 3rem);
  width: 200px;
  overflow: hidden;
}

.nav {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;
  z-index: 1020;

  .nav-wrapper {
    // transform: scale(0.8);
    // background-color: rgba(255, 255, 255, 0.226);
    // backdrop-filter: blur(3px);
    // box-shadow: -2px 2px 3px 0px rgb(14 31 53 / 12%), 4px 0px 0px 0px rgb(14 31 53 / 6%);
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}

.dot {
  border-radius: 50%;

  &.active {
    background-color: rgba(248, 0, 0, 0.2);
  }
  &.inactive {
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 1px;
    border-style: solid;
    opacity: 0.2;
  }
}

.top {
  position: fixed;
  top: 0;
  z-index: 1050;
  width: 100%;
  height: 3rem;
  // background-color: rgba(255, 255, 255, 0.788);
  // backdrop-filter: blur(5px);
  // box-shadow: 2px 0px 0px 0px rgb(14 31 53 / 12%),
  // 4px 0px 0px 0px rgb(14 31 53 / 6%);
}

.show-more {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  height: 100%;
  // padding: 0 5% 0 5%;
  top: 0;
  align-items: flex-start;

  &::-webkit-scrollbar {
    display: none;
  }
  position: fixed;
  z-index: 1045;
  left: 0;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 0.5rem;
  box-shadow: 2px 0px 0px 0px rgb(14 31 53 / 12%),
    4px 0px 0px 0px rgb(14 31 53 / 6%);

  .header {
    @include typography(1.2rem, 'semibold');
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.pad {
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1040;
  height: 100vh;
  width: 100%;
}

.backdrop {
  transition: backdrop-filter 0.2s;
  &.active {
    backdrop-filter: invert(0) opacity(0);
  }
  &.inactive {
    backdrop-filter: invert(0.1) opacity(1);
  }
}

.text {
  @include typography(1.2rem, 'semibold');
}

.loading{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1051;
}
