<div
  [@loading]="loading"
  class="loading"
  (scroll)="
    disableFullpage
      ? loading === 'true'
        ? $event.preventDefault()
        : undefined
      : $event.preventDefault()
  ">
  <div class="d-flex w-100 h-100 justify-content-center align-items-center">
    <div
      class="d-flex justify-content-start w-100 px-4"
      *ngIf="loading === 'true'">
      <div class="wrapper">
        <span class="box"></span><span class="hello">root@{{ OS }}: ~$</span
        ><span class="hello-abs">root@{{ OS }}: ~$</span>
      </div>
      <div class="wrapper" style="padding-left: 1rem; color: white">
        <div><span class="typing"></span><span class="cursor">_</span></div>
      </div>
      <div class="skip pointer unselectable" (click)="skip()">skip</div>
    </div>
  </div>
</div>
<div
  (touchstart)="disableFullpage ? undefined : onTouchStart($event)"
  (touchend)="disableFullpage ? undefined : onTouchEnd($event)"
  (scroll)="
    disableFullpage
      ? loading === 'true'
        ? $event.preventDefault()
        : undefined
      : $event.preventDefault()
  "
  class="hideScroll">
  <section
    #i
    *ngFor="let slide of slides; let i = index"
    class="section flex-column justify-content-center">
    <div class="bg"></div>

    <div
      *ngIf="i > 0"
      class="sectionTitle d-flex"
      [ngClass]="[
        i % 2 === 0 ? 'justify-content-end' : 'justify-content-start'
      ]">
      <div
        class="sectionText"
        [ngClass]="[i % 2 === 0 ? 'sectionTitleL' : 'sectionTitleR']">
        {{ slide.title }}
        <img *ngIf="slide.img" class="img" [src]="slide.img" />
        <img *ngIf="slide.img" class="imgClip" [src]="'https://cdn.picpng.com/paperclip/paperclip-paper-clip-office-clip-98456.png'" />
      </div>
    </div>
    <div
      *ngIf="i !== 0 && i !== slides.length - 1"
      class="textWrapper"
      [ngClass]="[i % 2 === 0 ? 'textWrapperL' : 'textWrapperR']">
      <div>
        <div class="text">
          <p class="gs_reveal">{{slide.description}}</p>
        </div>
      </div>
    </div>
    <div
      *ngIf="i === slides.length - 1"
      class="textWrapper"
      [ngClass]="[i % 2 === 0 ? 'textWrapperL' : 'textWrapperR']">
      <div>
        <div class="text">
          <div class="gs_reveal">
            <div class="d-flex pointer mb-4" (click)="goTo(slide.email![1])">
              <app-icon
                class="me-2"
                [name]="'email'"
                type="png"
                height="26"
                width="26"></app-icon>
              <div class="mb-2">{{ slide.email![0] }}</div>
            </div>
            <div class="d-flex pointer mb-4" (click)="goTo(slide.whatsapp![1])">
              <app-icon
                class="me-2"
                [name]="'whatsapp'"
                type="png"
                height="26"
                width="26"></app-icon>
              <div class="mb-2">{{ slide.whatsapp![0] }}</div>
            </div>
            <div class="d-flex pointer mb-4" (click)="goTo(slide.linkedin![1])">
              <app-icon
                class="me-2"
                [name]="'linkedin'"
                type="png"
                height="26"
                width="26"></app-icon>
              <div class="mb-2">{{ 'Linkedin' }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="i === 0"
      class="d-flex justify-content-center self-start w-100 quote-wrapper px-2">
      <div class="quote">
        <div
          [ngClass]="breakpoints['md-up'] ? 'text-center' : 'text-left'"
          class="big pb-2 mb-2 text-capitalize">We're no strangers to love
        </div>
        <div
          *ngIf="breakpoints['md-up']"
          class="custom-border mb-4 w-100"></div>
        <div
          [ngClass]="breakpoints['md-up'] ? 'text-center' : 'text-left'"
          class="small">{{breakpoints['md-up'] ? 'You know the rules and so do I' : 'You know the rules\nand so do I'}}
        </div>
      </div>
    </div>
  </section>
</div>

<div class="nav">
  <div class="nav-wrapper">
    <div
      *ngFor="let item of [1, 2, 3, 4, 5, 6]; let i = index"
      class="pointer unselectable my-2"
      (click)="scroll(keyArr[i]); activeSlide = i">
      <div
        class="dot"
        [ngClass]="activeSlide === i ? 'active' : 'inactive'"></div>
    </div>
  </div>
</div>

<div class="top">
  <app-icon
    name="menu"
    width="26"
    height="26"
    type="svg"
    class="show-more pointer unselectable backdrop"
    [ngClass]="[visiblityState$.value === 'expand' ? 'active' : 'inactive']"
    (click)="clickHidden()"></app-icon>
</div>

<div
  [@visibilityChanged]="visiblityState$.value"
  [style]="
    breakpoints['md-down']
      ? 'transform-origin: top;   width: 100%;'
      : 'transform-origin: left; max-width: 300px; min-width: 300px;  width: 25%;'
  "
  class="sidebar align-items-center justify-content-between d-flex flex-column">
  <div class="h-75">
    <div class="header">ANTHONY WONG</div>
    <div class="external py-4 flex-column">
      <div
        *ngFor="let external of externals"
        (click)="goTo(external.url)"
        class="d-flex align-items-center justify-content-start mb-4">
        <app-icon
          [name]="external.name.toLowerCase()"
          type="png"
          height="26"
          width="26"></app-icon>
        <a class="ms-3 pointer unselectable">{{ external.name }}</a>
      </div>
    </div>
  </div>
  <div class="pb-4">Due performance and capability issues, full page scrolling is disabled on portable devices (tablet/phone).</div>
</div>
<div
  *ngIf="!filterHidden"
  class="pad"
  id="pad"
  (click)="!filterHidden ? clickHidden() : undefined"></div>
